*.log
.DS_Store
laravel-api/.env
laravel-api/.env.backup
laravel-api/.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
laravel-api/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
laravel-api/node_modules
mock-service/node_modules/
laravel-api/public/build
laravel-api/public/hot
laravel-api/public/storage
laravel-api/storage/*.key
laravel-api/storage/pail
laravel-api/vendor
laravel-api/Homestead.json
laravel-api/Homestead.yaml
Thumbs.db
